<div class="container text-center bg-white px-5 py-3">
    <div class="row User my-3">
        <div class="col">
            <div class="d-grid">
                <button class="btn btn-dark btn-lg py-5 my-4" id="Rock" (click)="onButtonClicked('Rock')"><i class="bi bi-gem" style="font-size: 100px;"></i></button>
            </div>
        </div>
        <div class="col">
            <div class="d-grid">
                <button class="btn btn-dark btn-lg py-5 my-4" id="Paper" (click)="onButtonClicked('Paper')"><i class="bi bi-file-earmark-ppt" style="font-size: 100px;"></i></button>
            </div>
        </div>
        <div class="col">
            <div class="d-grid">
                <button class="btn btn-dark btn-lg py-5 my-4" id="Scissors" (click)="onButtonClicked('Scissors')"><i class="bi bi-scissors" style="font-size: 100px;"></i></button>
            </div>
        </div>
    </div>
</div>